body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
.nav-item {
  margin: 0 2em;
}
nav {
  background-color: teal;
  .mod-button {
    display: none;
  }
  .navbar-nav {
    letter-spacing: 0.2em;
    font-family: "RocknRoll One", sans-serif;
    font-family: "Varela Round", sans-serif;
    font-size: 1.2em;
    margin-top: 1em;
  }
  .link {
    margin-left: 25%;
    color: white;
    font-weight: 700;
    font-size: 2.5em;
    // text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: "RocknRoll One", sans-serif;
    font-family: "Varela Round", sans-serif;
  }
}

.main_page {
  height: 75vh;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 30%;
    color: white;
    font-family: "RocknRoll One", sans-serif;
    font-family: "Varela Round", sans-serif;
    font-size: 6em;

    letter-spacing: 0.2em;
  }
}

ul#demo.collapse.show {
  padding: 0;
}

.collapse {
  width: 100%;
  margin: 0;
  border-radius: 20px;
  // border-top: 1px solid white;
  letter-spacing: 0.2em;
  font-family: "RocknRoll One", sans-serif;
  font-family: "Varela Round", sans-serif;
  .nav-link {
    // border: 1px solid #777;
    margin: 0;
    color: white;
    border-top: 1px solid white;
    background-color: salmon;
    text-align: center;
    &:hover {
      background-color: white;
      color: salmon;
    }
  }
}
@media screen and (max-width: 975px) {
  .main_sec {
    padding-bottom: 5em;
  }
  section {
    .main_sec__main {
      font-size: 2em;
    }
  }
  .footer {
    height: 100vh;
  }
}
@media screen and (max-width: 656px) {
  .main_sec {
    padding-bottom: 15em;
  }
  .main_page {
    .type {
      font-size: 2em;
    }
  }
  nav {
    .mod-button {
      display: block;
      //   color: white;
      font-size: 1.3em;
      &:hover {
        transform: translateY(-5px);
        transition: all 0.5s;
      }
      &:active {
        transform: translateY(5px);
        transition: all 0.5s;
        background-color: white;
      }
    }
    .navbar-nav {
      display: none;
    }
  }
  section {
    .main_sec__main {
      margin-top: 2em;
      font-size: 2em;
      height: 65%;
      width: 50%;
    }
  }
}
@media screen and (max-width: 525px) {
  section {
    .main_sec__main {
      font-size: 1em;
    }
  }
}
.main_sec {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: teal;

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    color: white;
    margin: 1em;
    height: 65%;
    width: 40%;
    border: 10px solid white;
    letter-spacing: 0.1em;
    font-size: 3em;
    border-radius: 20px;
    font-family: "RocknRoll One", sans-serif;
    font-family: "Varela Round", sans-serif;
  }

  &__main:nth-child(2) {
    padding: 1em;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
  background-color: rgb(44, 63, 63);
  &_div {
    color: white;
    font-family: "RocknRoll One", sans-serif;
    font-family: "Varela Round", sans-serif;
  }
}
