body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.nav-item {
  margin: 0 2em;
}

nav {
  background-color: teal;
}

nav .mod-button {
  display: none;
}

nav .navbar-nav {
  letter-spacing: 0.2em;
  font-family: "RocknRoll One", sans-serif;
  font-family: "Varela Round", sans-serif;
  font-size: 1.2em;
  margin-top: 1em;
}

nav .link {
  margin-left: 25%;
  color: white;
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: 0.2em;
  font-family: "RocknRoll One", sans-serif;
  font-family: "Varela Round", sans-serif;
}

.main_page {
  height: 75vh;
  background-color: teal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main_page .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 30%;
  color: white;
  font-family: "RocknRoll One", sans-serif;
  font-family: "Varela Round", sans-serif;
  font-size: 6em;
  letter-spacing: 0.2em;
}

ul#demo.collapse.show {
  padding: 0;
}

.collapse {
  width: 100%;
  margin: 0;
  border-radius: 20px;
  letter-spacing: 0.2em;
  font-family: "RocknRoll One", sans-serif;
  font-family: "Varela Round", sans-serif;
}

.collapse .nav-link {
  margin: 0;
  color: white;
  border-top: 1px solid white;
  background-color: salmon;
  text-align: center;
}

.collapse .nav-link:hover {
  background-color: white;
  color: salmon;
}

@media screen and (max-width: 975px) {
  .main_sec {
    padding-bottom: 5em;
  }
  section .main_sec__main {
    font-size: 2em;
  }
  .footer {
    height: 100vh;
  }
}

@media screen and (max-width: 656px) {
  .main_sec {
    padding-bottom: 15em;
  }
  .main_page .type {
    font-size: 2em;
  }
  nav .mod-button {
    display: block;
    font-size: 1.3em;
  }
  nav .mod-button:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  nav .mod-button:active {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background-color: white;
  }
  nav .navbar-nav {
    display: none;
  }
  section .main_sec__main {
    margin-top: 2em;
    font-size: 2em;
    height: 65%;
    width: 50%;
  }
}

@media screen and (max-width: 525px) {
  section .main_sec__main {
    font-size: 1em;
  }
}

.main_sec {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: teal;
}

.main_sec__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  color: white;
  margin: 1em;
  height: 65%;
  width: 40%;
  border: 10px solid white;
  letter-spacing: 0.1em;
  font-size: 3em;
  border-radius: 20px;
  font-family: "RocknRoll One", sans-serif;
  font-family: "Varela Round", sans-serif;
}

.main_sec__main:nth-child(2) {
  padding: 1em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
  width: 100%;
  background-color: #2c3f3f;
}

.footer_div {
  color: white;
  font-family: "RocknRoll One", sans-serif;
  font-family: "Varela Round", sans-serif;
}
/*# sourceMappingURL=style.css.map */